@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.aide {
  font-family: Geomanist;

  .ap {
    font-size: 35px;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
    background: black;
  }

  .btn {
    background: black;
    color: yellow;
  }

  .vb {
    margin: auto;

    width-max: 200px;
  }
}
