<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>Fonctionnalité</h4>
        <ul>
          <li><a href="/account/register">Créer un compte</a></li>
          <li><a href="/account/register">Prémium</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Utiliser BEVE avec</h4>
        <ul>
          <li><a href="/utilisation">Facebook</a></li>
          <li><a href="/utilisation">Twiter</a></li>
          <li><a href="/utilisation">Instagram</a></li>
          <li><a href="/utilisation">Tik tok</a></li>
          <li><a href="/utilisation">Youtube</a></li>
          <li><a href="/utilisation">Github</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Aide et assistance</h4>
        <ul>
          <li><a href="#">Aide</a></li>
          <li><a>+225 0546153191</a></li>
          <li><a>Mail:beve@beve.com</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>A propos de BEVE</h4>
        <ul>
          <li><a href="/a-propos">BEVE</a></li>
          <li><a href="/regle-conditions">Règle & conditions</a></li>
          <li><a href="/vie-privee">Vie privé</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
