<div class="col-xl-6">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide id="1" marginL="100" marginR="200">
      <img class="img-fluid shadow rounded" src="../../../content/assets/img/beve/jefferson.jpg" alt="First slide" />
    </ng-template>
    <ng-template carouselSlide id="2" marginL="100" marginR="200">
      <img class="img-fluid shadow rounded" src="../../../content/assets/img/beve/geo-chierchia.jpg" alt="Second slide" />
    </ng-template>
    <ng-template carouselSlide id="3" marginL="100" marginR="200">
      <img class="img-fluid shadow rounded" src="../../../content/assets/img/beve/andre-hunter.jpg" alt="First slide" />
    </ng-template>
  </owl-carousel-o>
</div>
