<div class="premium flex-column d-flex justify-content-center">
  <div>
    <h2 class="ap text-yellow justify-content-center">PREMIUM</h2>
  </div>

  <div class="card">
    <p class="card-textt text-black">Passez en mode PREMIUM comme Lea NKOUKOU,</p>
    <img class="card-img-top" src="../../../content/assets/img/beve/v1.jpg" alt="Card image cap" />
    <div class="card-body">
      <p class="card-textt text-black">Et beneficier de plusieurs avantages .</p>
    </div>
  </div>

  <div>
    <div id="card-decks-component" class="tab-pane" role="tabpanel" aria-labelledby="card-decks-component-tab">
      <div class="card-deck">
        <div class="card">
          <img class="card-img" src="../../../content/images/discount.png" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">REDUCTION</h5>
            <p class="card-text">
              Votre pourcentage de commision passe de 10% a 5% de chaque dons que vous recevez de vos fans.C'est génial.
            </p>
          </div>
        </div>
        <div class="card">
          <img class="card-img" src="../../../content/images/hand.png" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">MONTANT</h5>
            <p class="card-text">Passez en premium en vous acquitant seulement de 2000 FCFA par mois.</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img" src="../../../content/images/view.png" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">VISIBILITE</h5>
            <p class="card-text">Soyez au premier rang sur tous nos supports en passant en PREMIUM.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
