<div>
  <div id="multipleSlider" class="container d-flex align-items-center">
    <div class="row g-0 justify-content-center">
      <!-- TITLE -->
      <div class="col-lg-4 offset-lg-1 mx-0 px-0">
        <div id="title-container">
          <img class="covid-image" src="../../../content/assets/img/beve/Groupe%2027.png" />
          <h2 class="text-primary">BEVE</h2>
          <h3>Créer une page</h3>
          <p>
            Créé ta page en moins de 5 min et commence à recevoir les dons de vos Fans en leur partageant ton lien de votre page ! c'est
            GENIAL .
          </p>
        </div>
      </div>
      <!-- FORMS -->

      <div class="col-lg-7 mx-0 px-0">
        <div class="progress">
          <div
            aria-valuemax="100"
            aria-valuemin="0"
            aria-valuenow="50"
            class="progress-bar progress-bar-striped progress-bar-animated bg-info"
            role="progressbar"
            style="width: 0%"
          ></div>
        </div>
        <div id="qbox-container">
          <form
            class="needs-validation"
            role="form"
            novalidate
            (ngSubmit)="save()"
            [formGroup]="editForm"
            id="form-wrapper"
            method="post"
            name="editForm"
            novalidate=""
          >
            <div id="steps-container">
              <div class="step">
                <h4>Informations générales</h4>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-check ps-0 q-box">
                  <div class="mb-3 form-group">
                    <label jhiTranslate="beveApp.createurAfricain.categorieCreateur" for="field_categorieCreateurs"
                      >Categorie Createur</label
                    >

                    <ng-select
                      placeholder="choisir la catégorie"
                      [multiple]="true"
                      data-cy="categorieCreateur"
                      id="field_categorieCreateurs"
                      name="categorieCreateurs"
                      [compareWith]="compareCategorieCreateur"
                      formControlName="categorieCreateurs"
                    >
                      <ng-option
                        [value]="categorieCreateurOption"
                        *ngFor="let categorieCreateurOption of categorieCreateursSharedCollection"
                      >
                        {{ categorieCreateurOption.categorie }}
                      </ng-option>
                    </ng-select>
                    <div
                      *ngIf="
                        editForm.get('categorieCreateurs')!.invalid &&
                        (editForm.get('categorieCreateurs')!.dirty || editForm.get('categorieCreateurs')!.touched)
                      "
                    >
                      <small
                        class="form-text text-danger"
                        *ngIf="editForm.get('categorieCreateurs')?.errors?.required"
                        jhiTranslate="entity.validation.required"
                      >
                        Ce champ est obligatoire.
                      </small>
                    </div>
                  </div>

                  <div class="mb-3 form-group">
                    <label jhiTranslate="beveApp.createurAfricain.reseauxSociaux" for="field_reseauxSociauxes">Reseaux Sociaux</label>
                    <ng-select
                      placement="bottom"
                      ngbTooltip="Les réseaux sociaux que vous utilisez"
                      placeholder=" reseaux Sociaux"
                      [multiple]="true"
                      data-cy="reseauxSociaux"
                      id="field_reseauxSociauxes"
                      name="reseauxSociauxes"
                      [compareWith]="compareReseauxSociaux"
                      formControlName="reseauxSociauxes"
                    >
                      <ng-option [value]="reseauxSociauxOption" *ngFor="let reseauxSociauxOption of reseauxSociauxesSharedCollection">
                        {{ reseauxSociauxOption.nom }}
                      </ng-option>
                    </ng-select>
                    <div
                      *ngIf="
                        editForm.get('reseauxSociauxes')!.invalid &&
                        (editForm.get('reseauxSociauxes')!.dirty || editForm.get('reseauxSociauxes')!.touched)
                      "
                    >
                      <small
                        class="form-text text-danger"
                        *ngIf="editForm.get('reseauxSociauxes')?.errors?.required"
                        jhiTranslate="entity.validation.required"
                      >
                        Ce champ est obligatoire.
                      </small>
                    </div>
                  </div>

                  <div class="mb-3 form-group w-60">
                    <label class="form-label" jhiTranslate="beveApp.createurAfricain.surnom" for="field_surnom">Surnom</label>
                    <input
                      type="text"
                      class="form-control input-height"
                      name="surnom"
                      id="field_surnom"
                      data-cy="surnom"
                      formControlName="surnom"
                    />
                    <div *ngIf="editForm.get('surnom')!.invalid && (editForm.get('surnom')!.dirty || editForm.get('contact1')!.touched)">
                      <small
                        class="form-text text-danger"
                        *ngIf="editForm.get('surnom')?.errors?.required"
                        jhiTranslate="entity.validation.required"
                      >
                        Ce champ est obligatoire.
                      </small>
                      <small class="form-text text-danger" *ngIf="editForm.get('surnom')?.errors?.minLength">
                        Renseignez au moins 2 caractères.
                      </small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="step">
                <h4>Informations Personnelles</h4>
                <div class="row mb-3 w-40">
                  <label class="form-label" jhiTranslate="beveApp.createurAfricain.nomDeFamille" for="field_nomDeFamille"
                    >Nom De Famille</label
                  >

                  <input
                    type="text"
                    class="form-control"
                    name="nomDeFamille"
                    id="field_nomDeFamille"
                    data-cy="nomDeFamille"
                    formControlName="nomDeFamille"
                  />
                  <div
                    *ngIf="
                      editForm.get('nomDeFamille')!.invalid &&
                      (editForm.get('nomDeFamille')!.dirty || editForm.get('nomDeFamille')!.touched)
                    "
                  >
                    <small
                      class="form-text text-danger"
                      *ngIf="editForm.get('nomDeFamille')?.errors?.required"
                      jhiTranslate="entity.validation.required"
                    >
                      Ce champ est obligatoire.
                    </small>
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="form-label" jhiTranslate="beveApp.createurAfricain.prenom" for="field_prenom">Prenom</label>
                  <input type="text" class="form-control" name="prenom" id="field_prenom" data-cy="prenom" formControlName="prenom" />
                  <div *ngIf="editForm.get('prenom')!.invalid && (editForm.get('prenom')!.dirty || editForm.get('prenom')!.touched)">
                    <small
                      class="form-text text-danger"
                      *ngIf="editForm.get('prenom')?.errors?.required"
                      jhiTranslate="entity.validation.required"
                    >
                      Ce champ est obligatoire.
                    </small>
                  </div>
                </div>
                <div class="row mb-3 w-40">
                  <label class="form-label" jhiTranslate="beveApp.createurAfricain.contact2" for="field_contact2">Contact 2</label>
                  <input
                    type="text"
                    class="form-control"
                    name="contact2"
                    id="field_contact2"
                    data-cy="contact2"
                    formControlName="contact2"
                  />
                  <div *ngIf="editForm.get('contact2')!.invalid && (editForm.get('contact2')!.dirty || editForm.get('contact2')!.touched)">
                    <small
                      class="form-text text-danger"
                      *ngIf="editForm.get('contact2')?.errors?.required"
                      jhiTranslate="entity.validation.required"
                    >
                      Ce champ est obligatoire.
                    </small>
                    <small class="form-text text-danger" *ngIf="editForm.get('contact2')?.errors?.pattern">
                      Renseignez un numero de 10 chiffres.
                    </small>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group w-60">
                    <label class="form-label" jhiTranslate="beveApp.createurAfricain.pays" for="field_pays">Pays</label>
                    <ng-select
                      name="pays"
                      formControlName="pays"
                      [placeholder]="'beveApp.createurAfricain.pays' | translate"
                      id="field_pays"
                      data-cy="pays"
                    >
                      <ng-option *ngFor="let country of countryList" [value]="country.country">
                        {{ country.country }} (+{{ country.dial_code }})
                      </ng-option>
                    </ng-select>
                    <div *ngIf="editForm.get('pays')!.invalid && (editForm.get('pays')!.dirty || editForm.get('pays')!.touched)">
                      <small
                        class="form-text text-danger"
                        *ngIf="editForm.get('pays')?.errors?.required"
                        jhiTranslate="entity.validation.required"
                      >
                        Ce champ est obligatoire.
                      </small>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="w-60 form-group">
                    <label class="form-label" jhiTranslate="beveApp.createurAfricain.sexe" for="field_sexe">Sexe</label>
                    <ng-select
                      [clearable]="true"
                      placeholder="sexe"
                      [multiple]="false"
                      data-cy="sexe"
                      id="field_sexe"
                      name="sexe"
                      formControlName="sexe"
                    >
                      <ng-option *ngFor="let sexe of sexeValues" [value]="sexe">
                        {{ 'beveApp.Sexe.' + sexe | translate }}
                      </ng-option>
                    </ng-select>

                    <div *ngIf="editForm.get('sexe')!.invalid && (editForm.get('sexe')!.dirty || editForm.get('sexe')!.touched)">
                      <small
                        class="form-text text-danger"
                        *ngIf="editForm.get('sexe')?.errors?.required"
                        jhiTranslate="entity.validation.required"
                      >
                        Ce champ est obligatoire.
                      </small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="step">
                <h4>Qu'est ce qui vous inspire ?</h4>
                <div class="row form-check">
                  <div class="form-group mb-3">
                    <label jhiTranslate="beveApp.createurAfricain.inspiration" for="field_inspirations">Inspiration</label>
                    <ng-select
                      class="form-control-lg"
                      placeholder="ceux qui vous inspire"
                      [multiple]="true"
                      data-cy="inspiration"
                      id="field_inspirations"
                      name="inspirations"
                      [compareWith]="compareInspiration"
                      formControlName="inspirations"
                    >
                      <ng-option [value]="inspirationOption" *ngFor="let inspirationOption of inspirationsSharedCollection">
                        {{ inspirationOption.nom }}
                      </ng-option>
                    </ng-select>
                  </div>
                </div>

                <div class="form-check mt-5">
                  <label>Comment evaluez vous les evaluer vous? </label>

                  <!-- Simple slider -->
                  <div class="input-slider-container">
                    <div id="degreInspiration" class="input-slider"></div>
                  </div>
                </div>
              </div>
              <div class="step">
                <h4>Lien et configuration de paiement.</h4>

                <div class="form-check ps-0 q-box">
                  <div class="form-group">
                    <label class="form-control-label" for="field_label">Le lien de votre page</label>
                    <div class="input-group input-group-merge">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">https://beve.com/createur/</span>
                      </div>
                      <input
                        placement="bottom"
                        ngbTooltip="Le suffixe du lien de votre page"
                        type="text"
                        class="form-control"
                        id="field_label"
                        name="label"
                        formControlName="label"
                        aria-describedby="basic-addon3"
                        data-cy="label"
                      />
                    </div>
                    <div *ngIf="editForm.get('label')!.invalid && (editForm.get('label')!.dirty || editForm.get('label')!.touched)">
                      <small
                        class="form-text text-danger"
                        *ngIf="editForm.get('label')?.errors?.required"
                        jhiTranslate="entity.validation.required"
                      >
                        Ce champ est obligatoire.
                      </small>
                      <small class="form-text text-danger" *ngIf="editForm.get('label')?.errors?.minLength">
                        Renseignez au moins 2 caractères.
                      </small>
                    </div>
                  </div>

                  <div class="form-grouprow mb-3 w-40">
                    <label class="form-label" jhiTranslate="beveApp.createurAfricain.contact1" for="field_contact1">Contact 1</label>
                    <input
                      type="text"
                      class="form-control"
                      name="contact1"
                      id="field_contact1"
                      data-cy="contact1"
                      formControlName="contact1"
                    />
                    <div
                      *ngIf="editForm.get('contact1')!.invalid && (editForm.get('contact1')!.dirty || editForm.get('contact1')!.touched)"
                    >
                      <small
                        class="form-text text-danger"
                        *ngIf="editForm.get('contact1')?.errors?.required"
                        jhiTranslate="entity.validation.required"
                      >
                        Ce champ est obligatoire.
                      </small>
                      <small class="form-text text-danger" *ngIf="editForm.get('contact1')?.errors?.pattern">
                        Renseignez un numero de 10 chiffres.
                      </small>
                      <small class="form-text text-danger" *ngIf="editForm.get('contact1')?.errors?.validValidator">
                        Veuillez commencer par le prefixe 05
                      </small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="step">
                <div class="mt-1">
                  <div class="closing-text">
                    <h4>Ajouter une photo</h4>
                    <p>
                      Veuiller Inserer une image qui vous identifie. <br />
                      L'image sera affichée comme une photo de profil sur votre page BEVE.
                    </p>
                  </div>
                </div>
                <div class="row mb-3 mb-5">
                  <label class="form-label" for="field_photo">Photo</label>
                  <div class="form-control">
                    <div *ngIf="editForm.get('photo')!.value" class="form-text text-danger clearfix">
                      <a
                        class="pull-start"
                        (click)="openFile(editForm.get('photo')!.value!, editForm.get('photoContentType')!.value!)"
                        jhiTranslate="entity.action.open"
                        >Ouvrir</a
                      ><br />
                      <span class="pull-start"
                        >{{ editForm.get('photoContentType')!.value }}, {{ byteSize(editForm.get('photo')!.value!) }}</span
                      >
                      <button
                        type="button"
                        (click)="editForm.patchValue({ photo: undefined, photoContentType: undefined })"
                        class="btn btn-secondary btn-xs pull-end"
                      >
                        <fa-icon icon="times"></fa-icon>
                      </button>
                    </div>
                    <input
                      type="file"
                      id="file_imageVideo"
                      data-cy="imageVideo"
                      (change)="setFileData($event, 'photo', false)"
                      jhiTranslate="entity.action.addblob"
                    />
                  </div>
                  <input type="hidden" class="form-control" name="photo" id="field_photo" data-cy="photo" formControlName="photo" />
                  <input
                    type="hidden"
                    class="form-control"
                    name="photoContentType"
                    id="field_photoContentType"
                    formControlName="photoContentType"
                  />

                  <img [src]="'data:' + editForm.get('imageVideoContentType') + ';base64,' + editForm.get('imageVideo')" alt="" />
                </div>
              </div>

              <div class="step">
                <div class="mt-1">
                  <div class="closing-text">
                    <h4>Nos conditions d'utiisation</h4>
                    <p>
                      Passer cette etape qu'après avoir lu les règles et conditions d'utilisation.Si vous validez cette etape BEVE considère
                      que vous etes d'accord avec nos règles & conditions.
                    </p>
                  </div>
                </div>
                <label class="custom-toggle">
                  <input type="checkbox" [checked]="false" />
                  <span class="custom-toggle-slider rounded-circle bg-yellow" data-label-off="No" data-label-on="Yes"></span>
                </label>
                <p>Clic sur le bouton suivant pour <span class="text-yellow">Sauvegarder</span></p>
              </div>
              <div id="success">
                <div class="mt-5">
                  <h4>Success! We'll get back to you BEVE HACKATHON!</h4>
                  <p></p>
                  <a class="back-link" href="">Go back from the beginning ➜</a>
                </div>
              </div>
            </div>
            <div id="q-box__buttons" class="mb-2">
              <button id="prev-btn" class="btn bg-dark" type="button">Precedent</button>
              <button id="next-btn" class="btn" type="button">Suivant</button>
              <button type="submit" data-cy="entityCreateSaveButton" [disabled]="editForm.invalid || isSaving" class="btn" id="submit-btn">
                Sauvegarder
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="preloader-wrapper">
    <div id="preloader"></div>
    <div class="preloader-section section-left"></div>
    <div class="preloader-section section-right"></div>
  </div>
</div>
