<div class="creer-page flex-column d-flex justify-content-center">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div>
      <h2 class="d-inline-block text-yellow">Recevez les dons de vos fans</h2>
      <h3 class="d-inline-block">, tout en faisant ce que vous aimez</h3>
    </div>

    <div>
      <button type="button" class="btn btn-info">Musiciens</button>
      <button type="button" class="btn btn-info">Influenceurs</button>
      <button type="button" class="btn btn-info">Bloggeurs</button>
      <button type="button" class="btn btn-info">Artistes</button>
      <button type="button" class="btn btn-info">Info</button>
    </div>

    <div class="col-xl-6 d-flex flex-column align-items-center">
      <carousel class="slider mt-5">
        <slide>
          <img class="img-fluid shadow rounded" src="../../../content/assets/img/beve/andre-hunter.jpg" alt="First slide" />
        </slide>
        <slide>
          <img class="img-fluid shadow rounded" src="../../../content/assets/img/beve/geo-chierchia.jpg" alt="Second slide" />
        </slide>
        <slide>
          <img class="img-fluid shadow rounded" src="../../../content/assets/img/beve/jefferson.jpg" alt="First slide" />
        </slide>
      </carousel>

      <button type="button" class="btn btn-info btn-slider bg-yellow text-dark">Commencer</button>
    </div>
  </div>
</div>
