@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.utilisation {
  .ap {
    margin: auto;
    text-align: center;
    font-size: 35px;
    margin-bottom: 50px;
    background: black;
  }
  .card-title {
    font-size: 30px;
    color: black;
  }

  .card {
    max-width: 700px;
    margin: auto;
    margin-bottom: 50px;
  }

  .text {
    padding: 10px;
    text-align: justify;
    color: black;
  }

  .slider {
    margin: auto;
  }
}
