<div class="utilisation flex-column d-flex justify-content-center">
  <div>
    <h2 class="ap text-yellow justify-content-center" style="width: 35rem">BEVE AVEC,</h2>
  </div>

  <div>
    <div class="card">
      <h5 class="card-title">FACEBOOK</h5>
      <p class="text">
        Ajouter votre lien de createur Beve dans la rubrique a-propos de votre page Facebook.
        <br />
        Informer vos utilisateurs ou fan qu'ils peuvent vous envoyer des dons via MTN Money en cliquant sur votre lien.
        <br />
        Ajouter votre lien BEVE à chaque publication et demander humblement à vos Fans de vous soutenez afin de leur fourni des contenus
        vraiment agréable.
      </p>

      <carousel class="slider mt-5">
        <slide>
          <img class="img-fluid shadow rounded" src="../../../content/images/c1.png" alt="First slide" />
        </slide>
        <slide>
          <img class="img-fluid shadow rounded" src="../../../content/images/c2.png" alt="Second slide" />
        </slide>
      </carousel>
    </div>
  </div>

  <div>
    <div id="tw" class="card">
      <h5 class="card-title">TWITER</h5>
      <p class="text">
        Mettez à jour votre nom d'affichage.
        <br />
        Informer vos utilisateurs ou fan qu'ils peuvent vous envoyer des dons via MTN Money en cliquant sur votre lien.
        <br />
        Ajouter votre lien BEVE à chaque publication et demander humblement à vos Fans de vous soutenez afin de leur fourni des contenus
        vraiment agréable.
      </p>

      <carousel class="slider mt-5">
        <slide>
          <img class="img-fluid shadow rounded" src="../../../content/images/c3.png" alt="First slide" />
        </slide>
        <slide>
          <img class="img-fluid shadow rounded" src="../../../content/images/c4.png" alt="Second slide" />
        </slide>
      </carousel>
    </div>
  </div>

  <div>
    <div class="card">
      <h5 class="card-title">INSTAGRAM</h5>
      <p class="text">
        Ajoutez le lien de votre page à votre bio Instagram ou à votre site d'annuaire
        <br />
        Informer vos utilisateurs ou fan qu'ils peuvent vous envoyer des dons via MTN Money en cliquant sur votre lien.
        <br />
        Ajouter votre lien BEVE à chaque publication et demander humblement à vos Fans de vous soutenez afin de leur fourni des contenus
        vraiment agréable.
      </p>

      <carousel class="slider mt-5">
        <slide>
          <img class="img-fluid shadow rounded" src="../../../content/images/c10.png" alt="First slide" />
        </slide>
      </carousel>
    </div>
  </div>

  <div>
    <div class="card">
      <h5 class="card-title">TIK TOK</h5>
      <p class="text">
        Ajoutez le lien de votre page à votre bio Tik tok ou à votre site d'annuaire
        <br />
        Informer vos utilisateurs ou fan qu'ils peuvent vous envoyer des dons via MTN Money en cliquant sur votre lien.
        <br />
        Ajouter votre lien BEVE à chaque publication et demander humblement à vos Fans de vous soutenez afin de leur fourni des contenus
        vraiment agréable.
      </p>

      <carousel class="slider mt-5">
        <slide>
          <img class="img-fluid shadow rounded" src="../../../content/images/c8.png" alt="First slide" />
        </slide>
        <slide>
          <img class="img-fluid shadow rounded" src="../../../content/images/c9.png" alt="Second slide" />
        </slide>
      </carousel>
    </div>
  </div>

  <div>
    <div class="card">
      <h5 class="card-title">YOUTUBE</h5>
      <p class="text">
        Partagez une vidéo d'introduction qui explique votre objectif, ce que signifie recevoir le soutien de vos fans et comment vous
        envisagez d'utiliser Beve.
        <br />
        Informer vos utilisateurs ou fan qu'ils peuvent vous envoyer des dons via MTN Money en cliquant sur votre lien.
        <br />
        Ajouter votre lien BEVE à chaque publication et demander humblement à vos Fans de vous soutenez afin de leur fourni des contenus
        vraiment agréable.
      </p>

      <carousel class="slider mt-5">
        <slide>
          <img class="img-fluid shadow rounded" src="../../../content/images/c5.png" alt="First slide" />
        </slide>
        <slide>
          <img class="img-fluid shadow rounded" src="../../../content/images/c6.png" alt="Second slide" />
        </slide>
      </carousel>
    </div>
  </div>

  <div>
    <div class="card">
      <h5 class="card-title">GITHUB</h5>
      <p class="text">
        Ajoutez le lien de votre page à votre profile github
        <br />
        Informer vos utilisateurs ou fan qu'ils peuvent vous envoyer des dons via MTN Money en cliquant sur votre lien.
        <br />
        Ajouter votre lien BEVE à chaque README.md de chaque project et demander humblement à vos Fans de vous soutenez afin de leur fourni
        des contenus vraiment agréable.
      </p>

      <carousel class="slider mt-5">
        <slide>
          <img class="img-fluid shadow rounded" src="../../../content/images/c7.PNG" alt="First slide" />
        </slide>
      </carousel>
    </div>
  </div>
</div>
