<div class="createur flex-column d-flex justify-content-center">
  <div class="card">
    <img src="../../../content/images/jhipster_family_member_2_head-256.png" class="rounded-circle" alt="Hollywood Sign on The Hill" />

    <p class="titre text-black">SOUTIEN A xxx</p>

    <img src="../../../content/images/mtn.png" class="mtn" alt="Hollywood Sign on The Hill" />

    <p class="texte text-black">Achat de bidon d'eau pour xxxx afin de le soutenir.</p>

    <div class="row">
      <div class="col-sm-6 form-group">
        <p class="tt">Montant</p>
        <input type="text" class="form-control" id="name" name="name" placeholder="100" required />
      </div>
      <div class="col-sm-6 form-group">
        <p class="tt">Numero MTN MOMO</p>
        <input type="text" placeholder="05xxxxxxxx" class="tt form-control" id="num" name="email" required />
      </div>
    </div>

    <div class="mes col-sm-6 form-group">
      <p class="tt">Un petit message</p>
      <textarea class="form-control" type="textarea" name="message" id="message" maxlength="2000" rows="2"></textarea>
    </div>

    <div>
      <input type="checkbox" id="confir" name="confir" checked />
      <label for="confir">Confirmer</label>
    </div>

    <div class="text-center">
      <button type="button" class="btn btn-primary mt-4 text-yellow">Valider</button>
    </div>
  </div>
</div>
