<div class="regle-condition flex-column d-flex justify-content-center">
  <div>
    <h2 class="ap text-yellow justify-content-center" style="width: 35rem">REGLE & CONDITONS</h2>
  </div>

  <div>
    <div id="card-decks-component" class="tab-pane" role="tabpanel" aria-labelledby="card-decks-component-tab">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="../../../content/images/adulte.png" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">LIMITE D'AGE</h5>
            <p class="card-text">
              Afin d'etre plus professionnel et de proteger nos mineurs.Beve est utilisable que pour les utilisateurs ayant 18 ans et plus .
            </p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../content/images/poli.png" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">POLITIQUE</h5>
            <p class="card-text">
              Beve est apolitique, alors il en suivra la suspension des comptes createurs dont leur contenu sera directement liée à la
              polituqe locale.
            </p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../content/images/illegal.png" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">ACTIVITE ILLICITE</h5>
            <p class="card-text">
              Beve s'atelera a la suspension des comptes createurs du fait que les-dits createurs se livreront a des activités telles que
              :la drogue, la prostitution, le trafic humain ou autre activité alliées.
            </p>
          </div>
        </div>

        <div class="card">
          <img class="card-img-top" src="../../../content/images/planet-earth.png" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">PRESERVATION DE L'ENVIRONNEMENT</h5>
            <p class="card-text">
              Beve s'atelera a la suspension des comptes createurs du fait que les-dits createurs se livreront a des actes
              anti-environnement
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="tab-pane" role="tabpanel" aria-labelledby="card-decks-component-tab">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="../../../content/images/censure.png" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">PORNOGRAPHIE</h5>
            <p class="card-text">
              Les comptes createurs liés a des activités pornographique ne se veront pas attribué le premier rang sur notre page mais
              beneficieront des autres avantages.
            </p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../content/images/link.png" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">LIEN DES PAGES</h5>
            <p class="card-text">
              La creation de lien unique de createur obeit au principe du premier arrivé, premier servir.Mais si après verification le nom
              de la page du createur est associé a un nom de celebrité alors le lien sera modifier par l'administrateur.
            </p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../content/images/original.png" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">ORIGINALITE</h5>
            <p class="card-text">
              Beve soutien les createurs de contenue original.Neamoins le createur est responsable de ses oeuvres et en aucun cas la
              creation du compte createur lie la plateforme Beve aux creations de l'utilisateurs.
            </p>
          </div>
        </div>

        <div class="card">
          <img class="card-img-top" src="../../../content/images/commission.png" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">COMMISSIONS</h5>
            <p class="card-text">
              En creant un compte createur Beve, vous autorisez automatiquement BEVE a prélévé 10% de la valeur de chaque don que vos FANs
              vous envoie.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
