<div [ngSwitch]="account !== null" class="creer-page flex-column d-flex justify-content-center">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div>
      <h2 class="ja d-inline-block text-yellow">Recevez les dons de vos fans</h2>
      <h2 class="ja d-inline-block">, tout en faisant ce que vous aimez</h2>
    </div>

    <div class="d-flex flex-wrap justify-content-center align-items-center">
      <button type="button" class="btn btn-info type" *ngFor="let categorieCreateur of categorieCreateurs">
        <span> {{ categorieCreateur.categorie }} </span>
      </button>
    </div>

    <div class="col-xl-6 d-flex flex-column align-items-center">
      <carousel class="slider mt-5">
        <slide>
          <img class="img-fluid shadow rounded" src="../../../content/assets/img/beve/andre-hunter.jpg" alt="First slide" />
        </slide>
        <slide>
          <img class="img-fluid shadow rounded" src="../../../content/images/Imagese.jpg" alt="First slide" />
        </slide>
        <slide>
          <img class="img-fluid shadow rounded" src="../../../content/images/Imagese1.jpg" alt="First slide" />
        </slide>
        <slide>
          <img class="img-fluid shadow rounded" src="../../../content/images/Imagese2.jpg" alt="First slide" />
        </slide>
        <slide>
          <img class="img-fluid shadow rounded" src="../../../content/assets/img/beve/geo-chierchia.jpg" alt="Second slide" />
        </slide>
        <slide>
          <img class="img-fluid shadow rounded" src="../../../content/assets/img/beve/jefferson.jpg" alt="First slide" />
        </slide>
      </carousel>

      <button *ngSwitchCase="false" type="button" routerLink="/account/register" class="btn btn-info btn-slider bg-yellow text-dark">
        Commencer
      </button>
    </div>

    <div class="boutt">
      <div id="divFilter" (click)="startMyFilter()" class="d-flex flex-wrap justify-content-center align-items-center mb-3 pt-5 pr-5 pl-5">
        <button type="button" class="btn btn-info mb-2" data-filter="all">Tout</button>
      </div>

      <div
        class="container d-flex justify-content-center align-items-center flex-wrap p-5 rounded shadow"
        style="background: linear-gradient(104.52deg, #d0b739 -11.68%, #d7d050 113.61%)"
      >
        <ng-container *ngFor="let createurAfricain of createurAfricains; let categorieClass">
          <ng-container *ngFor="let categorieCreateur of createurAfricain?.categorieCreateurs">
            <div [class]="'card mix rounded blue filter-' + categorieCreateur.id">
              <a [routerLink]="'/createur/' + createurAfricain.label">
                <img class="card-img-top" src="../../../content/assets/img/beve/andre-hunter.jpg" alt="Card image cap" />
                <div class="card-body shadow-sm">
                  <h5 class="card-title text-center">{{ createurAfricain.surnom }} / {{ categorieCreateur.categorie }}</h5>
                  <p class="card-text">
                    <small class="text-muted">
                      {{ (createurAfricain.nomDeFamille + '').toUpperCase() }} {{ createurAfricain.prenom | shorten: 10 }}
                    </small>
                  </p>
                </div>
              </a>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>

    <div class="d-flex justify-content-center align-items-center flex-row flex-wrap">
      <div class="tab-pane tab-example-result fade show active" role="tabpanel" aria-labelledby="card-blockquote-component-tab">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">{{ "Qu'est ce que BEVE ?".toUpperCase() }}</h3>
            <blockquote class="blockquote mb-0">
              <p>
                BEVE est une plateforme d'aide aux createurs africains.Elle permet aux createurs de recevoir des dons de leur fan à travers
                MTN MOMO
              </p>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="tab-pane tab-example-result fade show active" role="tabpanel" aria-labelledby="card-blockquote-component-tab">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">{{ 'qui peut utiliser BEVE ?'.toUpperCase() }}</h3>
            <blockquote class="blockquote mb-0">
              <p>
                Vous etes un createur ayant 18 ans ou plus . Vos créations sont légales vis à vis de la loi de votre pays.Beve est fait pour
                vous aidez a grandir.
              </p>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="tab-pane tab-example-result fade show active" role="tabpanel" aria-labelledby="card-blockquote-component-tab">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">{{ 'Comment recuperez ses dons ?'.toUpperCase() }}</h3>
            <blockquote class="blockquote mb-0">
              <p>
                Pour recuperer vos dons, vous avez besoin d'un compte MTN MOMO.Les transactions sont faites instantanement par rapport aux
                dons.
              </p>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="tab-pane tab-example-result fade show active" role="tabpanel" aria-labelledby="card-blockquote-component-tab">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">{{ 'Pourquoi passer en premium ?'.toUpperCase() }}</h3>
            <blockquote class="blockquote mb-0">
              <p>
                Le mode premium de BEVE vous permet d'etre mis en vue sur nos plateformes mais aussi de beneficier d'une reduction de
                commission.
              </p>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="tab-pane tab-example-result fade show active" role="tabpanel" aria-labelledby="card-blockquote-component-tab">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">{{ 'Frais BEVE à deduire ?'.toUpperCase() }}</h3>
            <blockquote class="blockquote mb-0">
              <p>
                Beve preleve juste 10 % de la valeur de chaque dons que reçoit chaque createur.Alors le createur reçoit sans autre frais 90%
                de la valeur du don de ses fans
              </p>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="tab-pane tab-example-result fade show active" role="tabpanel" aria-labelledby="card-blockquote-component-tab">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">{{ "Besoin d'aide ?".toUpperCase() }}</h3>
            <blockquote class="blockquote mb-0">
              <p>
                Votre call center est ouvert 24h/7j pour vos questions et préocupations pressantes. Notre email est disponible pour tout
                autre preocupations (rélévé...)
              </p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
